/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}


/* Menu oculto quando rolar a página */
header.scrolled nav {
    transform: translateY(-100%);
    /* Esconde o menu movendo-o para cima */
    transition: transform 0.3s ease-in-out;
    /* Suaviza a transição */
}

/* Estilo do menu quando não está oculto */
header nav {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    position: fixed;
    /* Mantém o menu fixo no topo */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    /* Garante que o menu fique acima de outros conteúdos */
    transition: transform 0.3s ease-in-out;
    /* Suaviza a transição do menu */
}

/* Para evitar que o conteúdo do menu fique escondido, quando o menu não estiver visível, podemos ajustar a margem superior do conteúdo */
body {
    margin-top: 80px;
    /* Para compensar a altura do menu fixo */
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    /* Adicionando fundo semitransparente */
    z-index: 1000;
}

header nav {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

header nav .logo {
    width: 350px;
}

header nav .menu {
    display: flex;
    align-items: center;
}

nav .menu a {
    color: #fff;
    margin-left: 30px;
    position: relative;
    font-size: 20px;
}

nav .menu a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: orange;
    transition: 0.4s;
}

nav .menu a:hover::after {
    width: 100%;
}

nav .social a i {
    color: #fff;
    font-size: 30px;
    margin-left: 10px;
    transition: 0.3s;
}

nav .social a i:hover {
    transform: scale(1.3);
    color: orange;
}

/* Hero Section */
.hero {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent),
        url(img/bg.jpg);
    /* Gradiente sobre a imagem */
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
    z-index: 1;
}

.hero .text {
    width: 90%;
    margin: auto;
    text-align: left;
    position: relative;
    z-index: 2;
    /* Garante que o texto fique acima do degradê */
}

.hero .text h4 {
    font-size: 40px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 10px;
}

.hero .text h1 {
    color: #fff;
    font-size: 65px;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 30px;
}

.hero .text h1 span {
    color: orange;
    font-size: 80px;
    font-weight: bold;
}

.hero .text p {
    color: #fff;
    margin-bottom: 30px;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
}

.hero .text .btn {
    padding: 10px 30px;
    background-color: orange;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    border-radius: 30px;
    border: 2px solid orange;
    transition: 0.3s;
}

.hero .text .btn:hover {
    background-color: transparent;
}

/* Seção Serviços */
#servicos {
    padding: 80px 20px;
    background-color: #111;
    text-align: center;
    color: #fff;
}

#servicos .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
}

.servicos-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: #111;
}


/* Container de cards */
.cards-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
}

#servicos .cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

/* Card individual */
#servicos .card {
    background: #111;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease;
}

#servicos .card:hover {
    transform: translateY(-5px);
}

#servicos .card img {
    width: 100%;
    max-width: 1200px;
    max-height: 259px;
    height: 100%;
    object-fit: cover;
    padding-top: 30px;
    padding: 15px;
    border-radius: 30px;
}

#servicos .card h3 {
    font-size: 24px;
    color: orange;
    margin: auto;
}

#servicos .card p {
    font-size: 22px;
    line-height: 1.5;
    color: #fff;
    /* Alterado para branco para maior contraste */
    padding: 0 15px 20px;
}

#servicos .image-container {
    flex: 1;
    min-width: 300px;
    position: relative;
    overflow: hidden;
}

#servicos .image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.2s ease-in-out;
    position: relative;

}

#servicos h2 {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    letter-spacing: 1.5px;
    margin-bottom: 20px;
    position: relative;
}

#servicos h2::after {
    content: '';
    display: block;
    width: 60px;
    height: 4px;
    background-color: orange;
    margin: 10px auto 0;
    border-radius: 2px;
}

#servicos p {
    font-size: 22px;
    font-weight: bold;
    line-height: 1.8;
    color: #fff;
    margin-top: 20px;
}

#servicos p:last-child {
    margin-bottom: 0;
}


/* Container de cards */

.cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

/* Card individual */
.card {
    background: #111;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease;
    height: 100%;
    /* Garante mesma altura */
    display: flex;
    flex-direction: column;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    padding: 15px;
    border-radius: 30px;
}

.card h3 {
    font-size: 24px;
    color: orange;
    margin: 15px 0;
    padding: 0 15px;
}

.card p {
    font-size: 22px;
    line-height: 1.5;
    color: #fff;
    padding: 0 15px 20px;
    flex-grow: 1;
    /* Faz o texto ocupar espaço disponível */
}

/* Seção Sobre */

.card img {
    width: 100%;
    max-height: 258px;
    height: auto;
    object-fit: cover;
    padding: 15px;
    border-radius: 30px;
}

#sobre {
    padding: 80px 20px;
    background-color: #111;
    text-align: center;
    color: #fff;
}

#sobre h2 {
    font-size: 40px;
    /* Título maior */
    font-weight: 700;
    /* Mais destaque */
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-bottom: 20px;
    position: relative;
}

#sobre h2::after {
    content: '';
    display: block;
    width: 60px;
    height: 4px;
    background-color: orange;
    /* Destaque abaixo do título */
    margin: 10px auto 0;
    border-radius: 2px;
}

#sobre p {
    font-size: 22px;
    font-weight: bold;
    line-height: 1.8;
    /* Melhor leitura */
    color: #fff;
    margin-top: 20px;
}

#sobre p:last-child {
    margin-bottom: 0;
}




/* Clientes Section */
#clientes {
    width: 100%;
    padding: 80px 20px;
    background: #111;
    /* Cor de fundo para contraste */
    text-align: center;
    font-family: 'Poppins', sans-serif;
    /* Aplicando a fonte */
}

#clientes h2 {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-bottom: 20px;
    position: relative;

}

#clientes h2::after {
    content: '';
    display: block;
    width: 60px;
    height: 4px;
    background-color: orange;
    margin: 10px auto 0;
    border-radius: 2px;
}

#clientes h3 {
    color: orange;
    font-size: 30px;
}

.client-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    /* Espaçamento entre os parceiros */
    flex-wrap: wrap;
    margin-top: 30px;
}

.client-item {
    background: #fff;
    border: 2px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 300px;
    margin-bottom: 50px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.client-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.client-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 70%;
    margin-bottom: 15px;
}

.client-item p {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
    font-weight: 400;
}

.client-item span {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.clients .btn {
    padding: 10px 30px;
    background-color: orange;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    border-radius: 30px;
    border: 2px solid orange;
    transition: 0.3s;
}

.clients .btn:hover {
    background-color: transparent;
}


/* Footer Styles */
footer {
    background-color: #111;
    color: #fff;
    padding: 40px 20px 20px;
    font-size: 17px;
    line-height: 1.6;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 2000px;
    margin: auto;
}

.footer-section {
    flex: 1;
    min-width: 250px;
    margin-bottom: 20px;
    padding: 20px 20px;
}

.footer-section h2,
.footer-section h3 {
    margin-bottom: 15px;
    color: orange;
}

.footer-section p,
.footer-section ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-section a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section a:hover {
    color: orange;
}

.footer-section .social-icons a {
    color: #fff;
    font-size: 30px;
    margin-right: 10px;
    transition: color 0.3s;
}

.footer-section .social-icons a:hover {
    color: orange;
}

.footer-bottom {
    text-align: center;
    border-top: 1px solid #444;
    padding-top: 15px;
    margin-top: 10px;
    font-size: 12px;
    color: #bbb;
}


@media (min-width: 375px) and (max-width: 667px) {


    header {
        display: none;
    }

    .hero {
        height: 50vh;
    }

    .hero .text h1 span {
        font-size: 35px;
        font-weight: bold;
    }

    .hero .text h1 {
        font-size: 30px;
    }

    .hero .text h4 {
        font-size: 20px;
    }

    .hero .text p {
        font-size: 20px;
        font-weight: bold;
    }

    .hero .text .btn {
        padding: 5px 15px;
        background-color: orange;
        text-transform: uppercase;
        color: #fff;
        font-weight: bold;
        font-size: 15px;
        border-radius: 30px;
        border: 2px solid orange;
        transition: 0.3s;
    }

    /* Seção Serviços */

    #servicos .cards-container {
        grid-template-columns: 1fr;
        display: grid;
        max-width: 1200px;
        padding: 20px;
    }

    #servicos .card {
        display: block;
    }

    #servicos .card img {
        width: 90%;
        height: auto;
    }

    #servicos .container {
        width: 90%;
    }

    #servicos h2 {
        font-size: 22px;
    }

    #servicos .card h3 {
        font-size: 20px;
    }

    #servicos .card p {
        font-size: 18px;
    }

    /* Seção Sobre */

    #sobre .cards-container {
        grid-template-columns: 1fr;
        display: grid;
        max-width: 1200px;
        padding: 20px;
    }

    #sobre .card {
        display: block;
    }

    #sobre .card img {
        width: 90%;
        height: auto;
    }

    #sobre .container {
        width: 90%;
        margin: 0 auto;
        /* Centraliza horizontalmente */
    }

    #sobre h2 {
        font-size: 22px;
    }

    #sobre .card h3 {
        font-size: 20px;
    }

    #sobre .card p {
        font-size: 18px;
    }

    /* Clientes Section */
    #clientes {
        width: 100%;
        padding: 80px 20px;
        background: #111;
        /* Cor de fundo para contraste */
        text-align: center;
        font-family: 'Poppins', sans-serif;
        /* Aplicando a fonte */
    }

    #clientes h2 {
        font-size: 22px;
        font-weight: 700;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        margin-bottom: 20px;
        position: relative;

    }

    #clientes h3 {
        color: orange;
        font-size: 20px;
    }

    .client-item {
        width: 250px;
    }


    .clients .btn:hover {
        background-color: transparent;
    }

    /*Footer Section */

    .footer-section p,
    .footer-section ul {
        font-size: 16px;
    }

    .footer-section .social-icons a {
        font-size: 25px;

    }

}

@media (min-width: 768px) and (max-width: 1024px) {

    * {
        box-sizing: border-box;
    }

    header nav .menu {
        display: none;
        justify-content: space-between;
    }

    header nav .logo {
        width: 350px;
        margin-right: 30px;
    }

    nav .social a i {
        color: #fff;
        font-size: 35px;
        margin-left: 10px;
        transition: 0.3s;
    }

    .hero .text .btn {
        padding: 10px 30px;
        font-size: 28px;
    }

    .hero {
        height: 65vh;
    }

    .hero .text p {
        font-size: 30px;
    }


    /* Seção Diferenciais */

    #servicos .cards-container {
        grid-template-columns: 1fr;
        display: grid;
        max-width: 1200px;
        padding: 20px;
    }

    #servicos .card {
        display: block;
    }

    #servicos .card img {
        max-height: 379px;
        width: 90%;
        height: auto;
    }

    #servicos .container {
        width: 90%;
        margin: 0 auto;
        /* Centraliza horizontalmente */
    }

    #servicos h2 {
        font-size: 40px;
    }

    #servicos .card h3 {
        font-size: 30px;
    }

    #servicos .card p {
        font-size: 28px;
    }

    /* Seção Sobre */

    #sobre .cards-container {
        grid-template-columns: 1fr;
        display: grid;
        max-width: 1200px;
        padding: 20px;
    }

    #sobre .card {
        display: block;
    }

    #sobre .card img {
        width: 90%;
        height: auto;
    }

    #sobre .container {
        width: 90%;
        margin: 0 auto;
        /* Centraliza horizontalmente */
    }

    #sobre h2 {
        font-size: 40px;
    }

    #sobre .card h3 {
        font-size: 30px;
    }

    #sobre .card p {
        font-size: 28px;
    }


    /* Clientes Section */
    #clientes {
        width: 100%;
    }

    #clientes h2 {
        font-size: 40px;
    }

    .client-item {
        width: 390px;
    }

    .client-item img {
        width: 150px;
        height: 150px;
    }

    .client-item p {
        font-size: 32px;
    }

    .client-item span {
        font-size: 28px;
        font-weight: bold;
        color: #333;
    }


    #clientes {
        width: 100%;
    }

    #clientes h2 {
        font-size: 40px;
    }

    #clientes h3 {
        color: orange;
        font-size: 35px;
    }

    .clients .btn {
        padding: 20px 40px;
        font-size: 25px;
    }

    .clients .btn:hover {
        background-color: transparent;
    }

    .client-list {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 100px;
        /* Espaçamento entre os parceiros */
        flex-wrap: wrap;
        margin-top: 30px;
        width: 80%;
        margin: 0px auto;
        margin-top: 30px;
    }

    /* Footer Styles */
    footer {
        background-color: #111;
        color: #fff;
        padding: 40px 20px 20px;
        font-size: 17px;
        line-height: 1.6;
    }


    .footer-section h2,
    .footer-section h3 {
        margin-bottom: 30px;
        font-size: 30px;
        color: orange;
    }

    .footer-section p,
    .footer-section ul {
        font-size: 18px;
        margin: 0;
        padding: 0;
        list-style: none;
    }


    .footer-section .social-icons a {
        font-size: 32px;

    }

    .footer-bottom {
        font-size: 20px;
    }

}